if Faceroll == nil then
    _, Faceroll = ...
end

-----------------------------------------------------------------------------------------
-- Enable debug output / dashboards

Faceroll.debug = false

-----------------------------------------------------------------------------------------
-- Activated specs (order matters!)

Faceroll.enableSpec("BM")
-- Faceroll.enableSpec("MM")
-- Faceroll.enableSpec("SV")

Faceroll.enableSpec("VDH")
Faceroll.enableSpec("HDH")

-- Faceroll.enableSpec("RET")
-- Faceroll.enableSpec("PP")
-- Faceroll.enableSpec("HP")

-- Faceroll.enableSpec("SUB")

-----------------------------------------------------------------------------------------
-- Keybinds

-- The default action bars for a spec's listed actions (in order)
Faceroll.keys[1] = "7"
Faceroll.keys[2] = "8"
Faceroll.keys[3] = "9"
Faceroll.keys[4] = "0"
Faceroll.keys[5] = "-"
Faceroll.keys[6] = "="
Faceroll.keys[7] = "f7"
Faceroll.keys[8] = "f8"
Faceroll.keys[9] = "f9"
Faceroll.keys[10] = "f10"
Faceroll.keys[11] = "f11"
Faceroll.keys[12] = "f12"

-- Any individual action's keybind can be set/overridden like this:
-- Faceroll.keys["bestialwrath"] = "1"

-- Keybinds to enable ST or AOE mode
Faceroll.keys["mode_st"] = "q"
Faceroll.keys["mode_aoe"] = "e"

-- Keybinds which map to the macros "/fr ST" and "/fr AE"
Faceroll.keys["signal_st"] = "pad9"
Faceroll.keys["signal_aoe"] = "pad6"

-- Keybinds which map to the macros "/fron" and "/froff"
Faceroll.keys["fron"] = "["
Faceroll.keys["froff"] = "]"

-- The keybind which toggles whether Faceroll is active or not
Faceroll.keys["toggle"] = "f5"
